<center>
  <h1>Your Articles</h1>

  <section class="article-card card">
    <h1>Create a New Article</h1>
    <div class="card-body">
      <%= form_with method: :post, url: "/articles", local: true do |f| %>
      <% end %>
    </div>
  </section>
</center>
