<center>
  <h1>Your Articles</h1>
    <% @articles.each do |article| %>
    <section class="articles">
      <h3><%= link_to article.title, "/articles/#{article.id}" %></h3>
      <p><%= article.body %></p>
    </section>
    <% end %>
    <br>
    <section class="new_link">
      <a href="/articles/new">Create a New Article</a>
    </section>
  </center>
